.clockContainer{
    text-align: center;
    background: black;
}

.clockContainer div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    margin: 3px;
}